# Settings file for the DEV environment.

app.url=http://localhost
app.home_route=welcome
app.long_name=<b>Laravel</b> ESK
app.short_name=LESK
app.tag_line=Anything you want
app.copyright_line=<strong>Copyright &copy; 2017 <a href="#">Company</a>.</strong> All rights reserved.
app.allow_registration=true
app.context_help_area=true
app.notification_area=true
app.search_box=false
app.extended_user_menu=true
app.user_profile_link=true
app.right_sidebar=true
app.email_notifications=false
app.time_format=24

theme.default=default

sql-logging.log=false
sql-logging.log_request=true

mail.system_sender_address=system.noreply@lesk.io
mail.system_sender_label=LESK System

lern.enable_record=true
lern.enable_notify=true
lern.channel=LESK-DEV
lern.mail_recipient=admin@lesk.io

theme.default=default

walled-garden.enabled=false

auth.enable_user_on_create=true
auth.email_validation=false
auth.enable_user_on_validation=false
auth.enable_remember_token=true

eloquent-ldap.enabled=true
eloquent-ldap.debug=false
eloquent-ldap.server_type=MSAD
eloquent-ldap.create_accounts=true
eloquent-ldap.replicate_group_membership=true
eloquent-ldap.resync_on_login=true
eloquent-ldap.group_model=App\Models\Role
eloquent-ldap.label_internal=internal
eloquent-ldap.label_ldap=ldap
eloquent-ldap.account_suffix=@company.com
eloquent-ldap.base_dn=DC=department,DC=company,DC=com
eloquent-ldap.server=ldapsrv01.company.com
eloquent-ldap.port=389
eloquent-ldap.user_name=ldap_reader
eloquent-ldap.password=PaSsWoRd
eloquent-ldap.return_real_primary_group=true
eloquent-ldap.secured=false
eloquent-ldap.secured_port=636
eloquent-ldap.recursive_groups=true
eloquent-ldap.sso=false
eloquent-ldap.username_field=samaccountname
eloquent-ldap.email_field=userprincipalname
eloquent-ldap.first_name_field=givenname
eloquent-ldap.last_name_field=sn
eloquent-ldap.user_filter=(&(objectcategory=person)(samaccountname=%username))

audit.enabled=true
audit.purge_retention=365

errors.purge_retention=30

## Menu-Builder options
menu-builder.framework_handler=App\Handlers\LESKSecuredMenuHandler
