// Shows div content in 4 or less columns, with re-flow depending on container width.
div.col-4 {
  -webkit-column-width: 15em;
     -moz-column-width: 15em;
          column-width: 15em;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
    -webkit-column-gap: 1em;
       -moz-column-gap: 1em;
            column-gap: 1em;
   -webkit-column-rule: 1px dotted #ddd;
      -moz-column-rule: 1px dotted #ddd;
           column-rule: 1px dotted #ddd;
}
// Colour for Font-Awesome icons.
i.deletable { color: red; }
i.enabled { color: green; }
i.disabled { color: orange; }
