h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
p {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

body
{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-weight: lighter;
	color: #404040;
		
}

.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover{
    background-color: #222d32;
 
}


.skin-blue .main-header .navbar {
    background-color: #222d32;
}

.skin-blue .main-header li.user-header {
    background-color: #222d32;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    background: #1e282c none repeat scroll 0 0;
 
}

.skin-blue.layout-top-nav .main-header > .logo {
    background-color: #222d32;

}

.content-header
{
	background-color:white !important;

}

.content {
    background: white url("/assets/themes/wisercapital/img/wc-watermark.gif") no-repeat scroll right bottom;


}


.content-wrapper{
	background: white url("/assets/themes/wisercapital/img/wc-bkg-2560x1670.jpg") no-repeat center center fixed;
	-moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
}


.socialicon {
	width:20px;height:0px;
	padding-top:20px;
	overflow:hidden;
	background:url('http://wisercapital.com//images/icons-social.gif') 0 0 no-repeat;
	display:block;float:left;
	margin:0 15px 0 0;
}
.linkedin {background-position:-20px 0;}
.twitter {background-position:-40px 0;}
.googleplus {background-position:-60px 0;}
.blogicon {background-position:-80px 0;}


footer {
	
	letter-spacing: 1.5px;
	font-size: 80%;
}

footer a {color: #444 !important;}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
